.index-page {
    padding-top: 30px;
    .header {
        text-align: center;
        button {
            margin: 0 10px;
        }
    }
    .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: fadeIn ease-in 0.5s;
        position: fixed;
        top: 3px;
        left: 3px;
        width: 99%;
        height: 99%;
        border: 3px solid red;
        border-style: dashed;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.62);
        cursor: pointer;
        h1 {
            width: 270px;
            color: white;
            font-weight: bold;
        }
        .material-icons {
            position: absolute;
            right: 30px;
            top: 30px;
            font-size: 50px;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
